<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header">
        <h1><%= title %></h1>
        <div class="header-btns">
            <a href="/genres"><button>GENRES</button></a>
            <a href="/movies"><button>MOVIES</button></a>
        </div>
    </div>
    <div class="main-content">
        
    </div>


</body>
</html>