<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="header">
        <h1><%= title %></h1>
        <div class="header-btns">
            <a href="/genres"><button>GENRES</button></a>
            <a href="/movies"><button>MOVIES</button></a>
        </div>
    </div>
    <div class="main-content">
        <div class="genre-top">
            <h1>All Genres</h1>
        <div class="genre-list-container">
            <ul class="genre-list">
                <% genres.forEach((genre) => { %>
                    <li class="genre-entry">
                        <img src="" alt="">
                        <div class="genre-name"> <%= genre.name %></div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>


</body>
</html>