<html></html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="header">
        <a href="/"><h1><%= title %></h1></a>
        <div class="header-btns">
            <a href="/genres"><button>GENRES</button></a>
            <a href="/movies"><button>MOVIES</button></a>
        </div>
    </div>
    <div class="main-content">
        <div class="welcome-text">
            <h1>Welcome to MovieHub!</h1>
            <p>Discover, explore, and track your favorite movies. Browse through various genres and find the next movie to watch. Add your own ratings and reviews to create your personal movie collection.</p>
        </div>
        <div class="explore-btns">
            <a href="/movies"><button class="explore-movies-btn">EXPLORE MOVIES</button></a>
            <a href="/genres"><button class="explore-genres-btn">EXPLORE GENRES</button></a>
        </div>
    </div>
</body>
</html>