<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="header">
        <h1><%= title %></h1>
        <div class="header-btns">
            <button>GENRES</button>
            <button>MOVIES</button>
        </div>
    </div>
    <div class="main-content">
        
    </div>


</body>
</html>
