<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="header">
        <h1><%= title %></h1>
        <div class="header-btns">
            <a href="/genres"><button>GENRES</button></a>
            <a href="/movies"><button>MOVIES</button></a>
        </div>
    </div>
    <div class="main-content">
        <div class="movie-top">
            <h1>All Movies</h1>
            <a href="/movies/new"><button class="add-mov-btn">ADD MOVIE</button></a>
        </div>
        <div class="movie-list-container">
            <ul class="movie-list">
                <% movies.forEach((movie) => { %>
                    <li class="movie-entry">
                        <img src="" alt="">
                        <div class="movie-name"> <%= movie.name %></div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>


</body>
</html>